@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc;
  color: #1e293b;
}

/* Custom Print Styles for Barcode printing */
@media print {
  body * {
    visibility: hidden;
  }
  #printable-barcode-area, #printable-barcode-area * {
    visibility: visible;
  }
  #printable-barcode-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
